
*{
    margin: 0px;
    padding: 0px ;
    font-family: 'montserrat' , sans-serif;
}
body{
    background-color:black;

}
main{
    padding: 0px 20px;
}

#logo img{
width:122px;
}
.navbar{
    display:flex;
    justify-content: space-between;
    background: #FCAF02;
 
    position: sticky;
    align-items: center;
    top:0px;
    /* padding: 20px 20px;*/
    height:70px; 
 }
 
 .nav-items a{
    text-decoration: none;
    color:black;
    padding : 0px 20px;

 }
.container{
    display: flex;
}
.container .left{
color:white;
}

.container img{ 
    width:220px;
}
.container .left p{
padding: 20px 502px 20px 0px;
}
.container .left h1{
    padding: 20px 0px 0px 0px;
    font-size: 35px;

}

.btn{
    margin: 20px 0px;
    /* background: yellow; */
    border-radius: 23px;
    padding: 5px 20px;
    background: #FCAF02;
    width: 150px;
    font-weight: 104px;
}

.form h1{
     color:#FCAF02;
     padding: 5px 20px;
     font-size: 40px;
}

.form .full{
    border:1px solid #FCAF02;
background-color: black;
color: #FCAF02;
padding: 20px;
width: 98%;
border-radius: 40px;
}

.form .half{
border:1px solid #FCAF02;
background-color: black;
color: #FCAF02;
padding: 20px;
width: 47%;
border-radius: 40px;
}

.form div {
    display: flex;
    justify-content: center;
}
.form #btn{
    margin: 20px;
    border-radius: 23px;
    padding: 15px 20px;
    background: #FCAF02;
    width: 250px;

}
#btn{
    font-size:20%;
}

 
.tables table, th, td{
    border: 1px solid #FCAF02;
    border-collapse: collapse;
    color: #FCAF02;
    padding: 20px;
}

table {
    width: 98%;
    height: 30px;
    margin:40px;
}

.footer td{
    background-color: #FCAF02;
    color:black;
}